body {
    margin 0px;
}

header {
    background-color: grey;
}

nav, nav a, nav ul{
    background-color: #333333;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}

article {
    margin-left: 10px;
}

aside {
    margin: 0 0 10px 10px;
}

footer {
    background-color: black;
    color: white;
}

@media screen and (min-width: 960px) {
    nav ul li{
        float: left;
    }

    article {
        //float: clear;
    }
    nav ul{
        padding-top: 0px;
        padding-bottom: 30px;
    }

    nav ul li{
        margin: 5px 5px 5px 5px;
    }
}

.clear {
    float: clear;
}